.image-window {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden; /* Убираем выходящий за границы контент */
  position: relative;
}

.image-window img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обеспечивает, что GIF займет весь блок */
  position: absolute;
  top: -2%; /* Сдвигаем вверх, чтобы скрыть белую полосу */
  left: 0;
}
